.profile__edit-button{
    grid-area: "edit-button"; 
    width: 10px; 
    height: 10px; 
    padding: 7px; 
    border: 1px solid var(--white); 
    box-sizing: content-box; 
    margin-top: 19px; 
    background-image: url(../../../assets/Edit.png);
    background-repeat: no-repeat; 
    background-color: transparent; 
    background-position: center;
}

@media only screen and (max-width: 772px) {
    .profile__edit-button{
        height: 7.5px; 
        width: 7.5px; 
        padding: 5.25px; 
    }
}