.profile__edit-button{
    grid-area: "edit-button"; 
    width: 10px; 
    height: 10px; 
    padding: 7px; 
    border: 1px solid var(--white); 
    box-sizing: content-box;
    margin-top: 19px; 
}