@import url('__description/image-popup__description.css'); 
@import url('__image/image-popup__image.css'); 

.image-popup{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 415px){
    .image-popup{
        width: 240px; 
        height: auto; 
    }
}