.modal__close{
    position: fixed; 
    height: 40.7px;  
    width: 40.7px; 
    top: calc((100vh/2) - 165px - 40.7px); 
    right: calc((100vw/2) - 215px - 40.7px); 
    background-image: url(../../../assets/CloseIcon.svg);
    background-repeat: no-repeat; 
    background-color: transparent; 
    background-position: center;
    object-fit: contain; 
    border: none; 
}

@media only screen and (max-width: 500px){
    .modal__close{
        top: calc((100vh/2) - 220px); 
        right: calc((100vw/2) - 20.35px); 
    }
}

@media only screen and (max-width: 320px){
    .modal__close{
        width: 21px; 
        height: 21px; 
        right: calc((100vw/2) - 142px); 
        top: calc((100vh/2) - 151px); 
    }
}