@import url('__add-button/profile__add-button.css');
@import url('__add-button-image/profile__add-button-image.css');
@import url('__avatar/profile__avatar.css');
@import url('__edit-button/profile__edit-button.css');
@import url('__info/profile__info.css');
@import url('__occupation/profile__occupation.css');
@import url('__username/profile__username.css');
@import url('__card/profile__card.css'); 

.profile{
    max-width: 882px; 
    display: flex; 
    margin: 0 auto; 
    justify-content: space-between;
    padding-top: 36.25px; 
}

@media only screen and (max-width: 772px){
    .profile{
        flex-direction: column; 
        justify-content: center; 
        max-width: 620px; 
        height: auto; 
    }
}