.modal__form{
    position: fixed; 
    width: 430px;
    height: auto;
    top: calc((100vh/2) - 165px); 
    left: calc((100vw/2) - 215px); 
    background-color: var(--white); 
    border-radius: 10px;
    display: flex; 
    flex-direction: column;   
    text-align: left;   
    box-shadow: 0px 0px 25px var(--black);
}

@media only screen and (max-width: 415px){
    .modal__form{
        width: 240px; 
        height: auto; 
        left: calc((100vw/2) - 120px);
        top: calc((100vh/2) - 129px);
    }
}