.error__active{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: red;
    margin: 5px 36px 0;
}

@media screen and (max-width: 600px) {  
    .error__active {
      margin: 5px 20px 0;
    }
  }