.profile__card{
    display: flex; 
}

@media only screen and (max-width: 772px){
    .profile__card{
        flex-direction: column; 
        justify-content: center; 
        margin: 0 auto; 
        max-width: 670px; 
        width: 100%; 
        min-width: 320px; 
    }
}