.profile__add-button{
    height: 50px; 
    width: 150px; 
    background-color: var(--black); 
    align-self: center; 
    border: 1px solid var(--white); 
    border-radius: 2px; 
    background-image: url(../../../assets/Plus.svg);
    background-repeat: no-repeat; 
    background-color: transparent; 
    background-position: center;
}

@media only screen and (max-width: 882px){
    .profile__add-button{
        margin-right: 18px; 
    }
}

@media only screen and (max-width: 772px){
    .profile__add-button{
        margin: 36px auto 0 auto; 
        max-width: 420px; 
        min-width: 282px; 
        width: 80%;  
    }
}
