.modal__input{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);  
    width: 358px; 
    margin: 29.74px auto 0 auto; 
    padding: 0; 
    color: var(--light-gray); 
}

@media only screen and (max-width: 415px){
    .modal__input{
        width: 200px; 
        margin: 44px auto 0; 
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }
}