@import url('__display/modal__display.css');
@import url('__input/modal__input.css'); 
@import url('__input/__input_error/modal__input_error.css');
@import url('__button/modal__button.css'); 
@import url('__button_disabled/modal__button_disabled.css'); 
@import url('__form/modal__form.css'); 
@import url('__close/modal__close.css'); 
@import url('__title/modal__title.css'); 
@import url('__container/modal__container.css');
@import url('__off/modal__off.css'); 
@import url('__on/modal__on.css'); 
@import url('__modal_dark/modal_dark.css');

.modal{
    position: fixed;
    width: 100vw; 
    height: 100vh;
    z-index: 1; 
    background-color:var(--overlay); 
    top: 0; 
    left: 0; 
    display: flex; 
    color: var(--black);  
}