@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css'); 
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/main/main.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/error/error.css'); 
@import url('../blocks/footer/footer.css');
@import url('../blocks/hover/hover.css');
@import url('../blocks/modal/modal.css');
@import url('../blocks/display/display.css');
@import url('../blocks/scroll/scroll.css'); 
@import url('../blocks/image-popup/image-popup.css'); 



:root{
    --black: #000000; 
    --white: #ffffff; 
    --dark-gray: #545454; 
    --overlay:  rgba(0, 0, 0, .5); 
    --dark-overlay:  rgba(0, 0, 0, .9);
    --light-gray: #C4C4C4;
}
