.photo-grid__heart-react_dark{
    height: 18.13px; 
    width: 20.76px; 
    margin-right: 17.24px; 
    background-image: url(../../../../assets/BlackHeart.svg);
    background-repeat: no-repeat; 
    background-color: transparent; 
    border: none; 
}